@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: #4FAEAB;
    --black: #000000;
    --white: #ffffff;
    --light-black: #333;
}

ul{
    list-style: none;
}

.container{
    padding-left: 60px;
    padding-right: 60px;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -1px 1px 0px #0000001A inset;
    width: 100%;
    height: 80px;
    margin-bottom: 167.5px;
}

#header h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.2px;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul:nth-child(1) a{
    text-decoration: none;
    color: var(--light-black);
}

#header ul:nth-child(1) svg{
    fill: var(--blue);
    margin-right: 5px;
}

#header ul:nth-child(3) li a{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: var(--light-black);
}

#header ul:nth-child(3) li a:hover{
    color: var(--blue);
}

#header ul:nth-child(3) li:not(:last-child){
    margin-right: 25px;
}

#header ul:nth-child(3) svg{
    transform: translate(-5px, 3px);
}

#header ul:nth-child(3) li:hover svg{
    fill: var(--blue);
    transform: translate(-5px, 3px);
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: #BDBDBD;
}

#navbar a:hover{
    color: var(--blue);
}

#navbar li a.active{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: var(--light-black);
}

#navbar li{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
}

#navbar li:not(:last-child){
    margin-right: 30px;
}

/* HERO SECTION */

#hero{
    width: 100%;
    height: 724px;
    background-image: url(./img/jpg/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 153px;
}

#hero h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 56px;
    line-height: 77px;
    letter-spacing: 1.2px;
    color: var(--black);
    transform: translateY(-80px);
    margin-bottom: 16px;
}

#hero h1 span{
    color: var(--white);
}

#hero p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: var(--white);
    transform: translateY(-80px);
    margin-bottom: 64.5px;
}

#hero p+button{
    width: 205px;
    height: 52px;
    background: var(--white);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.46px;
    color: #32A9B5;
    transform: translateY(-80px);
    cursor: pointer;
    margin-bottom: 205px;
}

#hero form{
    width: 100%;
    height: 124px;
    background-color: var(--white);
    border-radius: 10px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 24px;
    padding-right: 50px;
    box-shadow: 0px 2px 80px 2px #0000000F;
}

#hero form ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero form ul li{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero form ul li label{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 10px;
}

#hero form ul li label svg{
    margin-left: 5px;
    transform: translateY(-2px);
}

#hero form ul li input{
    outline: none;
    border: none;
    height: 30px;
}

#hero form ul li input::placeholder{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

#hero form ul button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: var(--white);
    background: var(--blue);
    margin: 0;
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px 0px #4FAEAB6B;
    width: 203px;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* OFFERS */

#offers{
    width: 100%;
    margin-bottom: 87px;
}

#offers .yacht-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 54px;
}

#offers h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 15px;
    text-align: center;
}

#offers .card{
    box-shadow: 0px 4px 12px 0px #0000001F; 
    border-radius: 5px;
    padding-bottom: 15px;
    position: relative;
    width: 337px;
    margin-right: 0;
    cursor: pointer;
}

#offers .card:hover{
    box-shadow: 0px 14px 20px 0px #0000001F;
}

#offers img:nth-child(1){
    margin-bottom: 6px;
}

#offers h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.46px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#offers .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

#offers .info li{
    display: flex;
    justify-content: center;
    align-items: center;
}

#offers .info li p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10.819px;
    line-height: 13px;
    letter-spacing: 0.35548px;
    color: #4F4F4F;
    margin-left: 0;
}

#offers .info li p:not(:last-child){
    margin-right: 7px;
}

#offers .info li hr{
    width: 1px;
    height: 17px;
    color: var(--black);
    transform: rotate(-180deg);
    border: 0.77px solid var(--black);
}

#offers .info li svg{
    margin-right: 5px;
}

#offers .info li:not(:last-child){
    margin-right: 15px;
}

.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
}

.stars li:not(:last-child){
    margin-right: 5px;
}

#offers .card p{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.46px;
    margin-left: 10px;
}

#offers img:nth-child(2){
    position: absolute;
    top: 0;
    right: 15px;
}

#offers a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color:  var(--blue);
    margin-right: auto;
    margin-left: auto;
}

#offers div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* AVIABLE */

#aviable{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 40px;
}

#aviable h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 87px;
}

#aviable p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: 48px;
    margin-right: 40px;
}

#aviable a{
    color: #23262F;
}

#aviable a span {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

#aviable div:nth-child(1) a svg{
    margin-left: 10px;
}

#aviable svg{
transform: translateY(5px);
}

#aviable ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#aviable ul div h3{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 4px;
    color: var(--white);
}

#aviable ul div p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-right: 7px;
    color: var(--white);
    margin: 0;
    margin-right: 7px;
}

#aviable ul li{
    position: relative;
}

#aviable ul li img{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%), url(.jpg);
}

#aviable ul li div{
    position: absolute;
    bottom: 35px;
    left: 35px;
}

#aviable ul div ul li svg{
    width: 16px;
    height: 18px;
    fill: var(--blue);
}

#aviable ul div ul li:not(:last-child){
    margin-right: 4px;
}

#aviable ul div div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: -15px;
    left: 0px;
}

/* BLOG */

#blog{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}

#blog h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    color: var(--black);
    margin-bottom: 64px;
    text-align: center;
}

#blog h2 span{
    color: var(--blue);
}

#blog ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blog ul li{
    width: 270px;
}

#blog ul li img{
    width: 270px;
    height: 270px;
    border-radius: 5px;
    margin-bottom: 24px;
}

#blog ul li h3{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #222222;
}

#blog ul li p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
}

/* ASKS */

#ask{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#ask h2{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

#ask p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-bottom: 70px;
    text-align: center;
    color: #757575;
}

#ask ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

#ask ul li p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: var(--black);
    margin: 0;
}

#ask ul li img{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 100vh;
    background-image: url(./img/jpg/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .top{
    width: 100%;
    height: 35vh;
    background: linear-gradient(180deg, #FFFFFF 36.78%, rgba(238, 244, 255, 0) 66.9%);
}

.footer .bottom{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.foottop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .bottom .foottop ul:nth-child(1){
    margin-left: 60px;
}

.footer .bottom .foottop ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer .bottom .foottop ul li h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    margin-bottom: 15px;
}

.footer .bottom .foottop ul li p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;
}

.footer .bottom .foottop ul li a{
    color: var(--white);
    opacity: 0.5;
    text-decoration: none;
}

.footer .bottom .foottop .subscribe{
    width: 430px;
    padding-right: 42px;
    padding-left: 42px;
    margin-right: 60px;
}

.footer .bottom .foottop .subscribe h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    margin-bottom: 18px;
}

.footer .bottom .foottop .subscribe p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--white);
    margin-bottom: 30px;
}

.footer .bottom .foottop .subscribe div{
    padding: 0;
}

.footer .bottom .foottop .subscribe div input{
    width: 288px;
    height: 50px;
    border: none;
    margin-bottom: 18px;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    padding-left: 20px;
}

.footer .bottom .foottop .subscribe div button{
    width: 50px;
    height: 50px;
    background: var(--blue);
    border: none;
    border-radius: 6px;
    transform: translateX(-4px);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.footer .bottom .foottop .subscribe div button span{
    color: var(--white);
}

.footer .footbot{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer hr{
    width: calc(100% - 120px);
    color: var(--white);
    height: 0;
    border: 0.1px solid var(--white);
}

.footer .footbot div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.footer .footbot div svg{
    fill: var(--white);
}

.footer .footbot div a h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin-left: 8px;
}

.footer .footbot div a{
    color: var(--white);
    text-decoration: none;
}

.footer .footbot ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer .footbot ul li a p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.footer ul li a{
    color: var(--white);
    text-decoration: none;
}

.footer .footbot ul li:not(:last-child){
    margin-right: 36px;
}

.footer .footbot ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.footer .footbot ol li:not(:last-child){
    margin-right: 15px;
}

.footer .footbot ol li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1.5px solid var(--white);
    border-radius: 50%;
}

.footer .footbot ol li a svg{
    fill: var(--white);
}

/* 


    YACHT LIST


*/

.footer-yacht-list{
    background-image: none;
}

.footer-yacht-list .bottom .foottop ul li p{
    color: var(--light-black);
    opacity: .5;
}

.footer-yacht-list .bottom .foottop ul li h3{
    color: var(--light-black);
}

.footer-yacht-list .bottom .foottop .subscribe h3{
    color: var(--light-black);
}

.footer-yacht-list .bottom .foottop .subscribe div input{
    border: 1px solid #E0E0E0;
}

.footer .bottom .foottop .subscribe div button span{
    color: var(--light-black);
}

.footer-yacht-list hr{
    color: var(--light-black);
    border: 0.1px solid var(--light-black);
}

.footer-yacht-list .footbot div svg{
    fill: var(--light-black);
}

.footer-yacht-list .footbot div a{
    color: var(--light-black);
}

.footer-yacht-list ul li a{
    color: var(--light-black);
}

.footer-yacht-list .footbot ol li a{
    border: 1.5px solid var(--light-black);
}

.footer-yacht-list .footbot ol li a svg{
    fill: var(--light-black);
}