.offers{
    width: 100%;
    margin-bottom: 87px;
}

.offers .yacht-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.offers .yacht-list li{
    margin-right: 80px;
}

.offers h2{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 15px;
    text-align: center;
}

.offers .card{
    box-shadow: 0px 4px 12px 0px #00000042; 
    border-radius: 5px;
    padding-bottom: 15px;
    position: relative;
    margin-right: 0;
    cursor: pointer;
    margin-bottom: 57px;
}


.offers .card:hover{
    box-shadow: 0px 14px 20px 0px #0000007d;
}

.offers img:nth-child(1){
    margin-bottom: 6px;
    width: 100%;
}

.offers .card h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.46px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.offers .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.offers .info li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers .info li p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10.819px;
    line-height: 13px;
    letter-spacing: 0.35548px;
    color: #4F4F4F;
    margin-left: 0;
}

.offers .info li p:not(:last-child){
    margin-right: 7px;
}

.offers .info li hr{
    width: 1px;
    height: 17px;
    color: var(--black);
    transform: rotate(-180deg);
    border: 0.77px solid var(--black);
}

.offers .info li svg{
    margin-right: 5px;
}

.offers .info li:not(:last-child){
    margin-right: 15px;
}

.stars{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
}

.stars li:not(:last-child){
    margin-right: 5px;
}

.offers .card p{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.46px;
    margin-left: 10px;
}

.offers img:nth-child(2){
    position: absolute;
    top: 0;
    right: 15px;
}

.offers a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color:  var(--blue);
    margin-right: auto;
    margin-left: auto;
    text-decoration: underline;
}

.offers .offers-link{
    display: flex;
    justify-content: center;
    align-items: center;
}